.engines {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.engines .enginesActive {
  opacity: 1;
  filter: drop-shadow(2px 2px 0px #bf616a);
}

.engines img {
  filter: drop-shadow(1px 1px 0px #bf616a);
}

.engines img:not(.enginesActive) {
  opacity: 0.3;
}

.engines img.enginesActive:hover {
  opacity: 1;
}
